.section-description {
    padding-block: 100px;
	.container {
		&-description {
            justify-content: center;
			.subtext {
                @include flex(column, flex-start, center);
                gap: 52px;
                &-text {
                    width: 1020px;
					&-display {
						color: $black;
						font-family: $font-display;
						font-size: 72px;
						font-weight: 400;
						line-height: 120%; /* 86.4px */
						letter-spacing: -1.44px;
                        max-width: 896px;
					}
					&-desc {
						color: $gray;
						font-family: $font-body;
						font-size: 20px;
						font-weight: 500;
						line-height: 132%; /* 26.4px */
						letter-spacing: -0.2px;
                        max-width: 913px;
                        float: inline-end;
					}
				}
			}
		}
	}
}
